1: checks whether a given number is prime or not

In [ ]:
n=int(input("Enter a Number: "))

for i in range(2,n):
  if n%i==0:
    print(f"{n} is not a prime number")
    break
else:
  print(f"{n} is a prime number")

Enter a Number: 17
17 is a prime number

2: Product of Random Numbers

In [ ]:
a=int(input("Enter the First number: "))
b=int(input("Enter the second number: "))
correct_product = a * b

user_answer = int(input("User_answer :"))

if user_answer == correct_product:
    print("Correct!")
else:
    print("Incorrect. The correct answer is:", correct_product)

Enter the First number: 5
Enter the second number: 6
User_answer :36
Incorrect. The correct answer is: 30

3: Squares of Even/Odd Numbers ranging 100 to 200

In [ ]:
#square of even no
for i in range(100,200+1):
  if i%2==0:
    print(i**2,end=" ")

10000 10404 10816 11236 11664 12100 12544 12996 13456 13924 14400 14884 15376 15876 16384 16900 17424 17956 18496 19044 19600 20164 20736 21316 21904 22500 23104 23716 24336 24964 25600 26244 26896 27556 28224 28900 29584 30276 30976 31684 32400 33124 33856 34596 35344 36100 36864 37636 38416 39204 40000 10201 10609 11025 11449 11881 12321 12769 13225 13689 14161 14641 15129 15625 16129 16641 17161 17689 18225 18769 19321 19881 20449 21025 21609 22201 22801 23409 24025 24649 25281 25921 26569 27225 27889 28561 29241 29929 30625 31329 32041 32761 33489 34225 34969 35721 36481 37249 38025 38809 39601

In [ ]:
#square of odd no
for i in range(100,200+1):
  if i%2!=0:
    print(i**2,end=" ")

10201 10609 11025 11449 11881 12321 12769 13225 13689 14161 14641 15129 15625 16129 16641 17161 17689 18225 18769 19321 19881 20449 21025 21609 22201 22801 23409 24025 24649 25281 25921 26569 27225 27889 28561 29241 29929 30625 31329 32041 32761 33489 34225 34969 35721 36481 37249 38025 38809 39601

4: program to count the number of words in a given text

In [ ]:
input_text = input("Enter a text: ")

# Split the text into words
words = input_text.split()

word_count = {}

for i in words:
    if i in word_count:
        word_count[i] += 1
    else:
        word_count[i] = 1

for i, count in word_count.items():
    print(f"'{i}': {count}")

Enter a text: This is a sample text. This text will be used to demonstrate the word counter
'This': 2
'is': 1
'a': 1
'sample': 1
'text.': 1
'text': 1
'will': 1
'be': 1
'used': 1
'to': 1
'demonstrate': 1
'the': 1
'word': 1
'counter': 1

5: Check for Palindrome

In [ ]:
a=input("Enter a string : ")
l=len(a)
b=""
for i in range(l):
  b=b+a[l-i-1]
print(a==b)

Enter a string : racecar
True